*{
    cursor: none;
}

.controlHolder {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 100px;
    right: 100px;
    
    .actualControls {
        position: relative;
        width: 100%;
        height: 100%;
        
        #wKey {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 40px;
            height: 40px;
            margin-left: 25px;
            top: -10px;
            border: 1px solid black;
        }

        #aKey {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 40px;
            height: 40px;
            top: 40px;
            margin-left: -30px;
            border: 1px solid black;
        }

        #sKey {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 40px;
            height: 40px;
            top: 40px;
            margin-left: 20px;
            border: 1px solid black;
        }

        #dKey {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 40px;
            height: 40px;
            top: 40px;
            margin-left: 70px;
            border: 1px solid black;
        }
    
    } 
}

.active {
    background-color: red !important;
    
}